{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="{% static 'images/가젤.jpg' %}" 
    style="width:80px; border: 3px solid rgb(126, 63, 134); border-radius: 7px;">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">another1</a>
        </li>
        
      </ul>
    </div>
  </nav>